html, body {
  padding: 0;
  margin: 0;
}
main {
  max-width: 100%;
  margin-top: 2em auto;
	margin-left: 1em;
}
.responsive {}
body {
  font-family: " DinPro","Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
.columns {
  display: flex;
}
.columns div {
  width: 50%;
	padding: 1em;
}
p.solid {
	border-style: solid;
}

ul {
    margin: 0.5em 0;
    padding: 0 1em;
    list-style: none;
}
li:before { 
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
	color: #A5B445;
}
.header {
	margin-top: auto;
	padding-top: 2em;
	padding-left: 2em;
	padding-right: 2em;
}
.container {
	position: relative; 
  max-width: 50%;
	margin: 1.5em;
}
.container .content {
  position: absolute;
	color: purple;
	transform: rotate(-20deg);
	margin-top: -4em;
	margin-left: -2em;
	background-color: white;
}
/*Hellgruen Schriftfarbe*/
h2 {
	color: #A5B445;
	
}
/*Grün Schriftfarbe*/
h1 {
	color: #8E9239;
	display: block;
}
/*Corona Icon*/
#einblenden {
  margin-top: center;  /* Text hinaufschieben */
  margin-left: center;   /* Text horiz. ausrichten */
  font-weight: bold;   /* Text formatieren */
  color: purple;               /* Text Farbe */
}
/*Border*/
h3 {
	color: purple;
}
.div .border {
	border-style: solid;
	border-color: purple;
  border-bottom-width: thick;
}
.logo {
	
}
img {
	vertical-align: middle;
}