html, body {
  padding: 0;
  margin: 0;
}
main {
  max-width: 80%;
  margin: 2em auto
}
img {
  max-width: 100%;
}
.responsive {}
body {
  font-family: montserrat
}
footer {
  background: #E8E8E8
}
.columns {
  display: flex
}
.columns div {
  width: 50%;
  padding: 1em;
}
/*Main Navigation Design*/
.main-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #6ce8f4;
  overflow: hidden;
}
.main-navigation a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: montserrat;
}
.main-navigation a:hover {
  background-color: #ddd;
  color: black;
}
.main-navigation a.active {
  background-color: #ff13a7;
  color: black;
}
.logo {
  margin-right: auto;
}
.logo img {
	max-width: 200px;
}
.jumbotron .row.text-center .display-2 {}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text{
  text-align:center;
  position: absolute;
  top: 18%;
  left: 50%;
	line-height: 70%;
  transform: translate(-50%, -50%);
  color: white;
}
.h1{
	color: black;
}
/*About Us Page*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #df336c;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/*Gallery*/
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row {
	float: inherit;
  content: "";
  clear: both;
  display: table;
}
/*Top Container Home*/ 
.top-container{
	display: grid;
	grid-gap: 20px;
}
.background {
	margin: 80px;
}
.cover{
	width: 1500px;
	min-height: inherit;
	margin: 1px
}
/*Footer with Social Media Icons*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
/*Instagram*/
.fa-instagram {
  background: #E4405F;
  color: white;
}